<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='css/styles.css' />
  </head>
  <body>
    <div id="navbar">
      <h1>pecunia</h1>
    </div>
    <div id="description">
      <p>pecunia is... </p>
    </div>
    <div id="microphone">

    </div>
  </body>
</html>
