<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='css/styles.css' />
  </head>
  <body>
    <div id="navbar">
      <a href=""><img class='pecunia' src="images/pecunia.png"></a>
    </div>
    <br>
    <div id="description">
      <p>Please provide a financial query and Pecunia will provide advice on its feasibility</p>
    </div>
    <div id="microphone">
      <button id="recordBtn"><img class="microphone" src="images/mic.png"></button>
    </div>
  </body>
  <script src="js/button.js"></script>
</html>
