<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="navbar">
      <h1>pecunia</h1>
    </div>
    <div id="transcript">
        <h3>{{transcript}}</h3>
    </div>
    <br>
    <div id="results">
        <h3>{{results}}</h3>
    </div>
  </body>
</html>
