@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

html, body {
  height: 100%; /* make sure the body takes full viewport height */
  margin: 0; /* reset default margin */
  padding: 0; /* reset default padding */
  background-color: #f0f0f0;
  font-family: 'Hammersmith One', sans-serif;
}

body {
  display: flex;
  flex-direction: column; /* stack items vertically */
  justify-content: center; /* center items on the vertical axis */
  align-items: center; /* center items on the horizontal axis */
}

.logo {
  align-self: center; /* center logo horizontally */
  margin-top: -100px; /* adjust this value to push the logo to the top */
  /* add logo image dimensions and other styles if needed */
}

.record-button {
  /* styles for the record button if needed */
}

.description {
  text-align: center;
  /* additional styling for the description text */
}
