/* styles.css */
@import url(https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap);
body {
  font-family: 'Hammersmith One', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.description {
  width: 100%;
  height: 100%; /* Height will be based on the aspect ratio */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  background-color: #f0f0f0; /* Background color */
  border: 1px solid #ccc; /* Border */
  border-radius: 5px; /* Border radius */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
}
.description p {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 16px;
  color: #333;

}

.microphone {
  display: inline-block;
    padding: 0; /* Remove default padding */
    background-color: #ffffff; /* Transparent background */
    border: none; /* Remove border */
    cursor: pointer;
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
}
microphone img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
}